nav{
    padding: 1rem;
    background-color: #242424;
    flex-shrink: 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
    display: flex;
    align-items: center;
}

ul li img{
    width: 6rem;
    padding: 0;
}
.nav-Links{
    display: flex;
}
.nav-Links a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}
.nav-Links a:hover{
    color: #fbba0b;
}
.nav-title{
    display: flex;
}
h1{
    padding: 0;
    font-size: 1.8rem;
    color: #fbba0b;
}
@media (max-width: 995px) {
    h1{
        display: none;
    }
}